<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Ship Equipment Information</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main">
                  <i class="fas fa-home"></i> </a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Ship Equipment Information</a>
              </li>
              <li class="breadcrumb-item active">All</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="body">
              <div class="responsive_table">
                <div class="materialTableHeader">
                  <div class="row">
                    <div class="col-8">
                      <ul class="header-buttons-left ml-0">
                        <li class="dropdown">
                          <input placeholder="Search" type="text" [(ngModel)]="searchText"  #filter class="browser-default search-field"
                            aria-label="Search box">
                        </li>
                        <li>
                          <div class="icon-button-demo m-l-10">                          
                            <button mat-mini-fab (click)="applyFilter(searchText)" color="accent">
                              <mat-icon class="col-white">search</mat-icon>
                            </button>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <ul class="header-buttons">
                        <li>
                          <div class="icon-button-demo">
                            <button class="btn-space"  mat-raised-button
                            color="primary" routerLink="/ship-management/add-shipequipmentinfo"> Add
                              <mat-icon class="col-white">add</mat-icon>
                            </button>
                            <button class="btn-space" mat-raised-button  color="primary" (click)="printSingle()">
                              <mat-icon class="col-white">print</mat-icon>
                            </button>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <mat-table #table [dataSource]="dataSource" matSort id="show-shipInfo" class="custom-table">
                  <ng-container matColumnDef="ser">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header">Ser.</mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index;" class="vertical-cell">
                      {{ ((paging.pageIndex - 1) * paging.pageSize) + i + 1 }}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="shipName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header">Ship Name</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell">
                      {{element.schoolName}}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="equipmentCategory">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header">Equipment Category</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell">
                      {{element.equipmentCategory}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="equpmentName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header">Equipment Name</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell">
                      {{element.equpmentName}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="qty">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header">Qty</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell">
                      {{element.qty}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="model">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header">Model</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell">
                      {{element.model}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="brand">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header">Brand</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell">
                      {{element.brand}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="techSpecification">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header">Technical Speechcalry Rating</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell">
                      {{element.techSpecification}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="manufacturerNameAndAddress">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header">Manufacturer Info</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell">
                      {{element.manufacturerNameAndAddress}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="acquisitionMethodName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header">Acquisition Method</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell">
                      {{element.acquisitionMethodName}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="yearOfInstallation">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header">Year of Installation</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell">
                      {{element.yearOfInstallation}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="location">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header">Location</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell">
                      {{element.location}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="stateOfEquipment">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header">State of Equipment</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell">
                      {{element.stateOfEquipment}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="powerSupply">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header">Power Supply</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell">
                      {{element.powerSupply}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="avrbrand">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header">AVR Brand</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell">
                      {{element.avrbrand}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="avrmodel">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header">AVR Model</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell">
                      {{element.avrmodel}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="headingDisplay">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header">Heading Display</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell">
                      {{element.headingDisplay}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="interfaceProtocol">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header">Interface Protocol</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell">
                      {{element.interfaceProtocol}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="composition">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header">Composition</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell">
                      {{element.composition}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="defectDescription">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header">Defect Description</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell">
                      {{element.defectDescription}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="remarks">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header">Remarks</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell">
                      {{element.remarks}}
                    </mat-cell>
                  </ng-container>

              
                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef class="vertical-header">Actions</mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index;">
                      <div class="d-flex flex-column">
                        <button
                          mat-icon-button
                          color="accent"
                          class="btn-tbl-edit mb-2"
                          [routerLink]="['/ship-management/update-shipequipmentinfo', row.shipEquipmentInfoId]"
                        >
                          <mat-icon aria-label="Edit" class="col-white">edit</mat-icon>
                        </button>
                        <button
                          mat-icon-button
                          color="accent"
                          class="btn-tbl-delete"
                          (click)="deleteItem(row)"
                        >
                          <mat-icon aria-label="Delete" class="col-white">delete</mat-icon>
                        </button>
                      </div>
                    </mat-cell>
                  </ng-container>
                  
                  <mat-header-row *matHeaderRowDef="displayedColumns" class="table-row"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></mat-row>
                </mat-table>
                
                
                
              
                <mat-paginator [length]="paging.length" [showFirstLastButtons]="masterData.paging.showFirstLastButtons"
                  [pageSize]="paging.pageSize" [pageSizeOptions]="masterData.paging.pageSizeOptions"
                  (page)="pageChanged($event)">
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
  
  
   