.no-wrap-table {
    table-layout: fixed;  /* Ensures the table takes the full width of the container */
    width: 100%;           /* Make the table occupy full available width */
  }
  
  .no-wrap-table .mat-header-cell,
  .no-wrap-table .mat-cell {
    white-space: nowrap;  /* Prevent text wrapping in both header and cell */
    overflow: hidden;     /* Hide overflow content if necessary */
    text-overflow: ellipsis;  /* Adds ellipsis (...) for overflow content */
  }
  