<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Ship Information List</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main">
                  <i class="fas fa-home"></i> </a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Ship Information</a>
              </li>
              <li class="breadcrumb-item active">All</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="body">
              <div class="row mb-3">
                <div  class="icon-button-demo col-12">
                        <button class="btn-success float-end rounded-pill px-4"  mat-raised-button
                       (click)="SharedService.goBack()"> Back
                          <mat-icon class="col-white">keyboard_backspace</mat-icon>
                        </button>
                      </div>
              </div>
              <div class="responsive_table">
                <div class="materialTableHeader">
                  <div class="row">
                    <div class="col-8">
                      <ul class="header-buttons-left ml-0">
                       <!-- <li><h5 class="count-value">No of Items: - {{ itemCount }}</h5></li> -->
                         
                      
                        <li class="dropdown">
                          <!-- <input placeholder="Search" type="text" [(ngModel)]="searchText"  #filter class="browser-default search-field"
                            aria-label="Search box"> -->
                            <mat-form-field appearance="outline" class="full-width">
                              <mat-label>Search by Ship/Authority</mat-label>
                              <input
                                matInput
                                type="text"
                                placeholder="Search..."
                                (input)="applyFilter($event.target.value)" />
                            </mat-form-field>
                        </li>
                        <li>
                          <div class="icon-button-demo m-l-10">                          
                            <!-- <button mat-mini-fab (click)="applyFilter(searchText)" color="accent">
                              <mat-icon class="col-white">search</mat-icon>
                            </button> -->
                          </div>
                        </li>
                        <li>
                          
                        </li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <ul class="header-buttons">
                        <li>
                          <div class="icon-button-demo">
                            <button class="btn-space"  mat-raised-button
                            color="primary" routerLink="/ship-management/add-shipinformation"> Add
                              <mat-icon class="col-white">add</mat-icon>
                            </button>
                            <button class="btn-space" mat-raised-button  color="primary" (click)="printSingle()">
                              <mat-icon class="col-white">print</mat-icon>
                            </button>
                          </div>
                         
                        </li>
                      </ul>
                    </div>
                   
                  </div>
                </div>
                <div id="print-routine">           
                  <table class="table tbl-by-group db-li-s-in">
                    <thead>
                      <tr>
                        <th class="cl-mrk-rmrk-auth"><h5>Authority</h5></th>
                        <!-- <th class="cl-mrk-rmrk"><h5>Base Name</h5></th> -->
                        <th class="cl-mrk-rmrk"><h5>Ship Name</h5></th>
                        <th class="cl-mrk"><h5>SQN</h5></th>
                        <th class="cl-mrk-opl"><h5> OPL/NON-OPL</h5></th>
                        <!-- <th class="cl-mrk"><h5>Remarks</h5></th> -->
                        <th class="cl-action"><h5></h5></th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let data of groupArrays;let i= index;">
                        <tr>
                          <td class="cl-srl" [attr.rowspan]="data.courses.length + 1">{{data.authorityName}}</td>
                        </tr>
                        <tr *ngFor="let number of data.courses;">
                          <!-- <td>
                            {{number.baseName}}
                          </td> -->
                          <td>
                            {{number.baseSchoolName}}
                          </td>
                          <td>
                            {{number.sqnName}}
                          </td>
                          <td>
                            {{number.operationalStatus}}
                          </td>
                          <!-- <td>
                            {{number.remarks}}
                          </td> -->
                          <td class="col table-img  img-on-hover">
                           
                            <img class="img-size"  [src]="number.fileUpload" />
                            <div class="pop-on-hover">
                              <img [src]="number.fileUpload" />
                            </div>
                            
                            <button mat-icon-button class="btn-tbl-view" title="View Course Details" [routerLink]="['/admin/dashboard/view-shipinformationdetails',number.shipInformationId,2]">
                              <mat-icon aria-label="Edit" class="col-white">visibility</mat-icon>
                            </button>
                            <button mat-icon-button color="accent" class="btn-tbl-edit" 
                            [routerLink]="['/ship-management/update-shipinformation', number.shipInformationId]">
                              <mat-icon aria-label="Edit" class="col-white">edit</mat-icon>
                            </button>
                            <button mat-icon-button color="accent" class="btn-tbl-delete" (click)="$event.stopPropagation()"
                            (click)="deleteItem(number)">
                            <mat-icon aria-label="Delete" class="col-white">delete</mat-icon> 
                          </button>
                          </td>

                          <!-- <td class="cl-action">
                           
                            <img class="img-size-dashboard pop-on-hover"  [src]="number.fileUpload"/>
                           
                            <button mat-icon-button color="accent" class="btn-tbl-edit" 
                            [routerLink]="['/ship-management/update-shipinformation', number.shipInformationId]">
                              <mat-icon aria-label="Edit" class="col-white">edit</mat-icon>
                            </button>
                            <button mat-icon-button class="btn-tbl-view" title="View Ship Details" [routerLink]="['/admin/dashboard/view-shipinformationdetails',number.shipInformationId,2]">
                              <mat-icon aria-label="Edit" class="col-white">visibility</mat-icon>
                            </button>

                            <button mat-icon-button color="accent" class="btn-tbl-delete" (click)="$event.stopPropagation()"
                              (click)="deleteItem(number)">
                              <mat-icon aria-label="Delete" class="col-white">delete</mat-icon> 
                            </button>
  
                           
                          </td> -->
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div> 
                <!-- <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
                  <ng-container matColumnDef="ser">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Ser. </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index;"> {{ ((paging.pageIndex-1) *  paging.pageSize) + i+1}} </mat-cell>
                  </ng-container>       
                
                  <ng-container matColumnDef="authorityName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Authority</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.authorityName}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="baseName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Base Name</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.baseName}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="baseSchoolName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Ship Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.baseSchoolName}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="sqnName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> SQN </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.sqnName}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="operationalStatus">
                    <mat-header-cell  *matHeaderCellDef mat-sort-header> OPL/NON-OPL </mat-header-cell>
                    <mat-cell  *matCellDef="let element"> {{element.operationalStatus}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="remarks">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Remarks </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.remarks}} </mat-cell>
                  </ng-container>
                 
                  
                  <ng-container matColumnDef="actions">
                    <mat-header-cell class="pr-0 action-btn-view" *matHeaderCellDef class="pr-0"></mat-header-cell>
                    <mat-cell  *matCellDef="let row; let i=index;" class="pr-0 action-btn-view">
                      <td class="col table-img  img-on-hover">
                        <img  [src]="row.fileUpload" />
                        <div class="pop-on-hover">
                          <img [src]="row.fileUpload" />
                        </div>
                      </td>
                      <button mat-icon-button class="btn-tbl-view" title="View Ship Details" [routerLink]="['/admin/dashboard/view-shipinformationdetails',row.shipInformationId,2]">
                        <mat-icon aria-label="Edit" class="col-white">visibility</mat-icon>
                      </button>

                      <button mat-icon-button color="accent" class="btn-tbl-edit" 
                      [routerLink]="['/ship-management/update-shipinformation', row.shipInformationId]">
                        <mat-icon aria-label="Edit" class="col-white">edit</mat-icon>
                      </button>
                      <button mat-icon-button color="accent" class="btn-tbl-delete" (click)="$event.stopPropagation()"
                        (click)="deleteItem(row)">
                        <mat-icon aria-label="Delete" class="col-white">delete</mat-icon> 
                      </button>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table> -->
              
                <mat-paginator [length]="paging.length" [showFirstLastButtons]="masterData.paging.showFirstLastButtons"
                  [pageSize]="paging.pageSize" [pageSizeOptions]="masterData.paging.pageSizeOptions"
                  (page)="pageChanged($event)">
                </mat-paginator>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
  
  
   