<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">{{pageTitle}}</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> </a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Half Yearly Return</a>
            </li>
            <li class="breadcrumb-item active">{{destination}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="body">
            <form class="m-4" [formGroup]="HalfYearlyReturnForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div *ngIf="role != userRole.ShipStaff && role != userRole.LOEO && role != userRole.LOEOWTR  && role != userRole.ShipUser"
                  class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Ship Name </mat-label>
                    <mat-select formControlName="baseSchoolNameId" (selectionChange)="onShipEquipmentInfoList()"
                      required
                      [disabled]="isUpdateing">
                      <input type="text" style="width:100%; height:50px; padding:10px; border: 1px solid #ccc; position: sticky; top:0; background-color: white; z-index: 1000; box-shadow: 0 2px 5px rgba(0,0,0,0.1);" 
                        id="selectSearch" (keydown.space)="$event.stopPropagation()"
                        (input)="filterByShip($event.target.value)" placeholder="Search">
                      <mat-option value="0">--Select--</mat-option>
                      <mat-option *ngFor="let dropdown of selectedBaseSchoolName" [value]="dropdown.value">
                        {{dropdown.text}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="HalfYearlyReturnForm.get('baseSchoolNameId').hasError('required')">
                      Ship Name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Equipment Category </mat-label>
                    <mat-select [disabled]="isUpdateing" formControlName="equipmentCategoryId"
                      (selectionChange)="onEquipmentCategorySelectionChange()"
                      (selectionChange)="onShipEquipmentInfoList()" required>
                      <input type="text" style="width:100%; height:50px; padding:10px; border: 1px solid #ccc; position: sticky; top:0; background-color: white; z-index: 1000; box-shadow: 0 2px 5px rgba(0,0,0,0.1);"
                        id="selectSearch" (keydown.space)="$event.stopPropagation()"
                        (input)="filterByEquipmentCategory($event.target.value)" placeholder="Search">
                      <mat-option value="0">--Select--</mat-option>
                      <mat-option *ngFor="let dropdown of selectedEquipmentCategory" [value]="dropdown.value">
                        {{dropdown.text}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="HalfYearlyReturnForm.get('equipmentCategoryId').hasError('required')">
                      Equipment Category is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Equipment Name </mat-label>
                    <mat-select [disabled]="isUpdateing" formControlName="equpmentNameId" (selectionChange)="onShipEquipmentInfoList()" required>
                      <input type="text" style="width:100%; height:50px; padding:10px; border: 1px solid #ccc; position: sticky; top:0; background-color: white; z-index: 1000; box-shadow: 0 2px 5px rgba(0,0,0,0.1);"
                        id="selectSearch" (keydown.space)="$event.stopPropagation()"
                        (input)="filterByEquipementName($event.target.value)" placeholder="Search">
                      <mat-option value="0">--Select--</mat-option>
                      <mat-option *ngFor="let dropdown of selectedEquipmentNameByCategory" [value]="dropdown.value">
                        {{dropdown.text}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="HalfYearlyReturnForm.get('equpmentNameId').hasError('required')">
                      Equipment Name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Reporting Month</mat-label>
                    <mat-select formControlName="reportingMonthId" required>
                      <input type="text" 
                      style="width:100%;height:50px;padding:10px; border: 1px solid white;"
                      id="selectSearch" 
                      (keydown.space)="$event.stopPropagation()"
                      (input)="filterByMonth($event.target.value)" placeholder="Search">
                      <mat-option value="0">--Select--</mat-option>
                      <mat-option *ngFor="let dropdown of selectedReportingMonth" [value]="dropdown.value">
                        {{dropdown.text}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="HalfYearlyReturnForm.get('reportingMonthId').hasError('required')">
                      Reporting Month is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Year</mat-label>
                    <mat-select formControlName="year" required>
                      <mat-option *ngFor="let year of years" [value]="year">
                        {{ year }}
                      </mat-option>
                    </mat-select>
                  
                    
                    <mat-error *ngIf="HalfYearlyReturnForm.get('year')?.hasError('required')">
                      Year is required
                    </mat-error>
                  </mat-form-field>
                  
                  
                </div> -->

               
                <div *ngIf="isShown && !isUpdateing && selectedShipEquipmentInfoList?.length" class="row clearfix">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 ex-mrk-entry-li">
                    <div class="card">


                      <div class="body table-responsive">
                        <table class="table ex-mrk-entry issue-res">
                          <thead>
                            <tr>
                              <th class="cl-srl">
                                <h5>Ser</h5>
                              </th>

                              <th class="cl-mrk">
                                <h5>Model/Brand</h5>
                              </th>

                              <th class="cl-mrk">
                                <h5>Input Power Supply</h5>
                              </th>
                              <th class="cl-mrk">
                                <h5>OPL Qty</h5>
                              </th>
                              <th class="cl-mrk">
                                <h5>Non OPL Qty</h5>
                              </th>
                              <th class="cl-nm-rnk" *ngIf="echoSounder">
                                Manufacturer Info
                              </th>
                              <th class="cl-nm-rnk" *ngIf="echoSounder">
                                Acquisition Method
                              </th>
                              <th class="cl-nm-rnk" *ngIf="echoSounder">
                                Year of Installation
                              </th>
                              <th class="cl-nm-rnk" *ngIf="echoSounder">
                                Location
                              </th>
                              <th class="cl-nm-rnk" *ngIf="echoSounder">
                                Purpose
                              </th> 
                              <th class="cl-mrk" *ngIf="gyroCompass">
                                <h5>Half Yearly Running Time(Hours)</h5>
                              </th>
                              <th class="cl-mrk" *ngIf="gyroCompass">
                                <h5>Total Running Time(Hours)</h5>
                              </th>

                              <th class="cl-nm-rnk" *ngIf="gyroCompass">
                                <h5>Half Yearly Problem</h5>
                              </th>


                              <th class="cl-nm-rnk" *ngIf="gyroCompass">
                                <h5>Power Supply Unit</h5>
                              </th>
                              <th class="cl-nm-rnk">
                                <h5>Remarks</h5>
                              </th>
                              <th class="cl-nm-rnk" *ngIf="navigationRader">
                                Satisfactory
                              </th>
                              <th class="cl-nm-rnk" *ngIf="communicationEquipment">
                                File
                              </th>
                             
                              
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              *ngFor="let unit of HalfYearlyReturnForm.get('shipEquipmentInfoList')['controls']; let i = index"
                              [formGroup]="unit">
                              <th class="cl-srl" scope="row">{{i+1}}</th>
                              <td class="cl-nm-rnk">
                                {{getControlLabel(i,'model')}} - {{getControlLabel(i,'brand')}}
                              </td>
                              <td class="cl-nm-rnk">
                                {{getControlLabel(i,'powerSupply')}}
                              </td>
                              <td class="cl-nm-rnk">
                                {{getControlLabel(i,'oplQty')}}
                              </td>
                              <td class="cl-nm-rnk">
                                {{getControlLabel(i,'nonOplQty')}}
                              </td>
                              <td class="cl-nm-rnk" *ngIf="echoSounder">
                                {{getControlLabel(i,'manufacturerNameAndAddress')}}
                              </td>
                              <td class="cl-nm-rnk" *ngIf="echoSounder">
                                {{getControlLabel(i,'acquisitionMethodName')}}
                              </td>
                              <td class="cl-nm-rnk" *ngIf="echoSounder">
                                {{getControlLabel(i,'yearOfInstallation')}}
                              </td>
                              <td class="cl-nm-rnk" *ngIf="echoSounder">
                                {{getControlLabel(i,'location')}}
                              </td>
                              <td class="cl-nm-rnk" *ngIf="echoSounder">
                                {{getControlLabel(i,'purpose')}}
                              </td>

                              <td class="cl-mrk" *ngIf="gyroCompass">
                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                  <input type="number" matInput formControlName="halfYearlyRunningTime" />
                                </mat-form-field>
                              </td>
                              <td class="cl-mrk" *ngIf="gyroCompass">
                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                  <input type="number" matInput formControlName="totalRunningTime" />
                                </mat-form-field>
                              </td>
                              <td class="cl-mrk" *ngIf="gyroCompass">
                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                  <textarea matInput type="text" formControlName="halfYearlyProblem"></textarea>
                                </mat-form-field>
                              </td>
                              <td class="cl-mrk" *ngIf="gyroCompass">
                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                  <input matInput type="text" formControlName="powerSupplyUnit" />
                                </mat-form-field>
                              </td>
                              <td class="cl-mrk">
                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                  <input matInput type="text" formControlName="remarks" />
                                </mat-form-field>
                              </td>
                              <td hidden class="cl-mrk">
                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                  <input matInput value="{{getControlLabel(i,'shipEquipmentInfoId')}}" type="text" formControlName="shipEquipmentInfoId" />
                                </mat-form-field>
                              </td>
                              <td class="cl-mrk" *ngIf="navigationRader">
                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                  <mat-select formControlName="isSatisfactory">                            
                                    <mat-option selected value="">--Select--</mat-option>
                                    <mat-option value="true">Satisfactory</mat-option>
                                    <mat-option value="false">Not Satisfactory</mat-option>
                                    <!-- <mat-option *ngFor="let dropdown of selectedEquipmentCategory" [value]="dropdown.value">
                                      {{dropdown.text}}
                                    </mat-option> -->
                                  </mat-select>
                           
                                </mat-form-field>
                              </td>
                              <td class="cl-mrk" *ngIf="communicationEquipment">
                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                  <mat-label>File Upload</mat-label>
                              
                                  <!-- File Input (Use correct index from main loop) -->
                                  <ngx-mat-file-input 
                                    (change)="onFileChanged($event, i)" 
                                    accept=".txt,.pdf,.xls,.xlsx,.doc,.docx,.ppt,.pptx">
                                  </ngx-mat-file-input>
                              
                                  <mat-icon matSuffix>attachment</mat-icon>
                                </mat-form-field>
                              
                                <!-- Show selected file name -->
                                <span *ngIf="unit.get('doc').value">
                                  {{ unit.get('doc').value.name }}
                                </span>
                              </td>
                              
                              
                            </tr>

                          </tbody>
                        </table>
                      </div>
                    </div>

                  </div>

                </div>

                <div *ngIf="isUpdateing && gyroCompass" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Half Yearing Running Time (Hours)</mat-label>
                    <input type="number" matInput formControlName="halfYearlyRunningTime" >
                  </mat-form-field>
                </div>
                <div *ngIf="isUpdateing && gyroCompass" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Total Running Time (Hours)</mat-label>
                    <input type="number" matInput formControlName="totalRunningTime" >
                  </mat-form-field>
                </div>
                <div *ngIf="isUpdateing && gyroCompass" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Power Supply Unit</mat-label>
                    <input matInput formControlName="powerSupplyUnit" >
                  </mat-form-field>
                </div>
                <div *ngIf="isUpdateing && gyroCompass" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>half Yearly Problem</mat-label>
                    <input matInput formControlName="halfYearlyProblem" >
                  </mat-form-field>
                </div>               
                <div *ngIf="isUpdateing" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Remarks</mat-label>
                    <input matInput formControlName="remarks" >
                  </mat-form-field>
                </div>  
                <!-- <div *ngIf="isUpdateing && communicationEquipment" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>File Upload</mat-label>
                    <ngx-mat-file-input 
                      (change)="onFileChanged($event, 0)" 
                      accept=".txt,.pdf,.xls,.xlsx,.doc,.docx,.ppt,.pptx">
                    </ngx-mat-file-input>
                
                    <mat-icon matSuffix>attachment</mat-icon>
                  </mat-form-field> 
                </div>   -->
                          
              </div>

              <div *ngIf="isUpdateing && (navigationRader || trueLayingRader || surveillanceRadar || trackingRader || helControalRader || searchRader)" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>Condition of Equipment</mat-label>
                  <mat-select formControlName="isSatisfactory">                            
                    <mat-option selected value="">--Select--</mat-option>
                    <mat-option [value]="true">Satisfactory</mat-option>
                    <mat-option [value]="false">Not Satisfactory</mat-option>
                    <!-- <mat-option *ngFor="let dropdown of selectedEquipmentCategory" [value]="dropdown.value">
                      {{dropdown.text}}
                    </mat-option> -->
                  </mat-select>
           
                </mat-form-field>
              </div> 

              <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Brand </mat-label>
                      <mat-select formControlName="brandId" required>
                        <mat-option value="0">--Select--</mat-option>
                        <mat-option *ngFor="let dropdown of selectedBrand" [value]="dropdown.value">
                          {{dropdown.text}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="HalfYearlyReturnForm.get('brandId').hasError('required')">
                        Brand is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Input Power Supply</mat-label>
                      <input matInput formControlName="inputPowerSupply" required>
                      <mat-error *ngIf="HalfYearlyReturnForm.get('inputPowerSupply').hasError('required')">
                        Input Power Supply is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Equipment Status</mat-label>
                      <mat-select formControlName="operationalStatusId" required>
                        <mat-option value="0">--Select--</mat-option>
                        <mat-option *ngFor="let dropdown of selectedOperationalStatus" [value]="dropdown.value">
                          {{dropdown.text}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="HalfYearlyReturnForm.get('operationalStatusId').hasError('required')">
                        Equipment Status is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Half Yearly Running Time</mat-label>
                      <mat-select formControlName="halfYearlyRunningTimeId" required>
                        <mat-option value="0">--Select--</mat-option>
                        <mat-option *ngFor="let dropdown of selectedHalfYearlyRunningTime" [value]="dropdown.value">
                          {{dropdown.text}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="HalfYearlyReturnForm.get('halfYearlyRunningTimeId').hasError('required')">
                        Half Yearly Running Time is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Total Running Time</mat-label>
                      <input matInput formControlName="totalRunningTime" required>
                      <mat-error *ngIf="HalfYearlyReturnForm.get('totalRunningTime').hasError('required')">
                        Total Running Time is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Power Supply Unit</mat-label>
                      <input matInput formControlName="powerSupplyUnit" required>
                      <mat-error *ngIf="HalfYearlyReturnForm.get('powerSupplyUnit').hasError('required')">
                        Power Supply Unit is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Remarks</mat-label>
                      <input matInput formControlName="remarks">
                    </mat-form-field>
                  </div> -->
<!-- 
              
                  <div *ngIf="dataNotFound">
                    <p class="text-danger text-center">No Data Found</p>
                  </div> -->

              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="btn-space" [disabled]="!HalfYearlyReturnForm.valid " mat-raised-button
                    color="primary">{{btnText}}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>