<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Procurement List</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> </a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Procurement</a>
            </li>
            <li class="breadcrumb-item active">All</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="row mb-3">
              <div class="icon-button-demo col-12">
                      <button class="btn-success float-end rounded-pill px-4"  mat-raised-button
                     (click)="SharedService.goBack()"> Back
                        <mat-icon class="col-white">keyboard_backspace</mat-icon>
                      </button>
                    </div>
            </div>
            <div class="responsive_table">
              <div class="materialTableHeader">
                <div class="row">
                  <div class="col-8">
                    <ul class="header-buttons-left ml-0">
                      <!-- <li><h5 class="count-value">No of Items: - {{ itemCount }}</h5></li> -->


                      <li class="dropdown">
                        <input placeholder="Search" type="text" [(ngModel)]="searchText" #filter
                          class="browser-default search-field" aria-label="Search box">
                      </li>
                      <li>
                        <div class="icon-button-demo m-l-10">
                          <button mat-mini-fab (click)="applyFilter(searchText)" color="accent">
                            <mat-icon class="col-white">search</mat-icon>
                          </button>
                        </div>

                      </li>
                        
                    </ul>
                  </div>
                  <div class="col-4">
                    <ul class="header-buttons">
                      <li>
                        <div class="icon-button-demo">
                          <button class="btn-space" mat-raised-button color="primary"
                            routerLink="/procurement-management/add-procurement"> Add
                            <mat-icon class="col-white">add</mat-icon>
                          </button>
                          <!-- <button class="btn-space" mat-raised-button  color="primary" (click)="printSingle()">
                              <mat-icon class="col-white">print</mat-icon>
                            </button> -->
                        </div>

                      </li>
                      <li>
                        <div class="icon-button-demo">                       
                          <button class="btn-space" mat-raised-button  color="primary" (click)="printSingle()">
                            <mat-icon class="col-white">print</mat-icon>
                          </button>
                        </div>
                      </li>
                    </ul>
                  </div>

                </div>
              </div>
              <div>

              </div>
              <div id="print-routine">
                <!-- <table class="table tbl-by-group db-li-s-in">
                    <thead>
                      <tr>
                       
                        <th class="cl-mrk"><h5>Qty</h5></th>
                        <th class="cl-mrk-opl"><h5> E Price</h5></th>
                        <th class="cl-mrk"><h5>Sent To DGDP/NSSD Date</h5></th>
                        <th class="cl-action"><h5>Actions</h5></th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let data of groupArrays;let i= index;">
                        <tr>
                          <td class="cl-srl" [attr.rowspan]="data.courses.length + 1">{{data.authorityName}}</td>
                        </tr>
                        <tr *ngFor="let number of data.courses;">
                          <td>
                            {{number.baseName}}
                          </td>
                          <td>
                            {{number.baseSchoolName}}
                          </td>
                          <td>
                            {{number.sqnName}}
                          </td>
                          <td>
                            {{number.operationalStatus}}
                          </td>
                         
                          <td class="cl-action">
                            <button mat-icon-button color="accent" class="btn-tbl-edit" 
                            [routerLink]="['/procurement-management/update-procurement', number.procurementId]">
                              <mat-icon aria-label="Edit" class="col-white">edit</mat-icon>
                            </button>
                            <button mat-icon-button color="accent" class="btn-tbl-delete" (click)="$event.stopPropagation()"
                            (click)="deleteItem(number)">
                            <mat-icon aria-label="Delete" class="col-white">delete</mat-icon> 
                          </button>
                          </td>

                          
                        </tr>
                      </ng-container>
                    </tbody>
                  </table> -->
                <div class="row align-items-center mt-2">
                  <!-- Column 1 -->
                  <div class="col-lg-6 d-flex align-items-center flex-wrap">
                    <span class="me-3">Search By:</span>
                    <mat-checkbox class="mx-2" [(ngModel)]="isShipNameChecked"
                      (change)="onShipNameCheckboxChange($event)" color="primary">
                      Ship Name
                    </mat-checkbox>
                    <mat-checkbox class="mx-2" [(ngModel)]="isEquipmentChecked"
                      (change)="onEquipmentCheckboxChange($event)" color="primary">
                      Equipment Name
                    </mat-checkbox>
                  </div>

                  <!-- Column 2 -->
                  <div *ngIf="procurementMethodName1 && procurementMethodName2 " class="col-lg-6 text-end">
                    <button (click)="filterByMethod(procurementMethodId1)" class="btn-space" mat-raised-button
                      color="warn">
                      {{procurementMethodName1}}
                    </button>
                    <button (click)="filterByMethod(procurementMethodId2)" class="btn-space" mat-raised-button
                      color="accent">
                      {{procurementMethodName2}}
                    </button>
                  </div>
                </div>

                <!--
                <mat-table #table [dataSource]="dataSource" matSort class="custom-table">
                
                  <ng-container matColumnDef="ser">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header custom-header"> Ser.
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index;" class="vertical-cell">
                      {{ ((paging.pageIndex-1) * paging.pageSize) + i+1 }}
                    </mat-cell>
                  </ng-container>

           
                  <ng-container matColumnDef="schoolName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header custom-header"> Ship Name
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell"> {{element.schoolName}} </mat-cell>
                  </ng-container>

         
                  <ng-container matColumnDef="procurementType">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header custom-header">
                      Procurement Type </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell"> {{element.procurementTypeName}}
                    </mat-cell>
                  </ng-container>

     
                  <ng-container matColumnDef="groupName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header custom-header"> Group Name
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell"> {{element.groupName}} </mat-cell>
                  </ng-container>

         
                  <ng-container matColumnDef="equpmentName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header custom-header"> Equipment
                      Name </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell"> {{element.equpmentName}} </mat-cell>
                  </ng-container>

          
                  <ng-container matColumnDef="qty">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header custom-header"> Qty
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell"> {{element.qty}} </mat-cell>
                  </ng-container>

             
                  <ng-container matColumnDef="ePrice">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header custom-header"> E-Price
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell"> {{element.ePrice}} </mat-cell>
                  </ng-container>

           
                  <ng-container matColumnDef="fcLcName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header custom-header"> FC/LC
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell"> {{element.fcLcName}} </mat-cell>
                  </ng-container>

     
                  <ng-container matColumnDef="dgdpNssdName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header custom-header"> DGDP/NSSD
                      Name </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell"> {{element.dgdpNssdName}} </mat-cell>
                  </ng-container>

                 
                  <ng-container matColumnDef="controlledName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header custom-header"> Controlled
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell"> {{element.controlledName}} </mat-cell>
                  </ng-container>

     
                  <ng-container matColumnDef="tecName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header custom-header"> TEC
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell"> {{element.tecName}} </mat-cell>
                  </ng-container>

   
                  <ng-container matColumnDef="sentToDgdpNssdDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header custom-header"> Sent to
                      DGDP/NSSD Date </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell"> {{element.sentToDgdpNssdDate | date: 'dd
                      MMM, yyyy'}} </mat-cell>
                  </ng-container>

               
                  <ng-container matColumnDef="tenderOpeningDateTypeName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header custom-header"> Tender
                      Type </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell"> {{element.tenderOpeningDateTypeName}}
                    </mat-cell>
                  </ng-container>

                 
                  <ng-container matColumnDef="tenderOpeningDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header custom-header"> Tender
                      Opening Date </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell"> {{element.tenderOpeningDate | date: 'dd
                      MMM, yyyy'}} </mat-cell>
                  </ng-container>

       
                  <ng-container matColumnDef="offerReceivedDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header custom-header"> Offer
                      Received Date </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell"> {{element.offerReceivedDate | date: 'dd
                      MMM, yyyy'}} </mat-cell>
                  </ng-container>

      
                  <ng-container matColumnDef="sentForContractDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header custom-header"> Sent for
                      Contract Date </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell"> {{element.sentForContractDate | date: 'dd
                      MMM, yyyy'}} </mat-cell>
                  </ng-container>

    
                  <ng-container matColumnDef="contractSignedDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header custom-header"> Contract
                      Signed Date </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell"> {{element.contractSignedDate | date: 'dd
                      MMM, yyyy'}} </mat-cell>
                  </ng-container>

          
                  <ng-container matColumnDef="paymentStatus">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header custom-header"> Payment
                      Status </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell"> {{element.paymentStatusName}} </mat-cell>
                  </ng-container>


                  <ng-container matColumnDef="remarks">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="vertical-header custom-header"> Remarks
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="vertical-cell"> {{element.remarks}} </mat-cell>
                  </ng-container>

          
                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef class="vertical-header custom-header"> Actions </mat-header-cell>
                    <mat-cell *matCellDef="let row; let i=index;" class="d-flex flex-column">
                      <button mat-icon-button color="accent" class="btn-tbl-edit mb-2"
                        [routerLink]="['/procurement-management/update-procurement', row.procurementId]">
                        <mat-icon aria-label="Edit" class="col-white">edit</mat-icon>
                      </button>
                      <button mat-icon-button color="accent" class="btn-tbl-delete" (click)="$event.stopPropagation()"
                        (click)="deleteItem(row)">
                        <mat-icon aria-label="Delete" class="col-white">delete</mat-icon>
                      </button>
                    </mat-cell>
                  </ng-container>

           
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
              -->



                <div *ngIf="selectedProcurementTypeId === procurementMethodId2" style="overflow-x: auto; max-width: 100%;">
                  <table class="custom-table">
                    <thead>
                      <tr>
                        <th class="custom-header">Ser.</th>
                        <th class="custom-header">Ship Name</th>
                        <th class="custom-header">Procurement Type</th>
                        <th class="custom-header">Group Name</th>
                        <th class="custom-header">Equipment Name</th>
                        <th class="custom-header">Qty</th>
                        <th class="custom-header">E-Price</th>
                        <th class="custom-header">FC/LC</th>
                        <th class="custom-header">DGDP/NSSD Name</th>
                        <th class="custom-header">Controlled</th>
                        <th class="custom-header">TEC</th>
                        <th class="custom-header">Sent to DGDP/NSSD Date</th>
                        <th class="custom-header">Tender Opening Date Type</th>
                        <th class="custom-header">Tender Opening Date</th>
                        <th class="custom-header">Offer Received Date</th>
                        <th class="custom-header">Sent for Contract Date</th>                        
                        <th class="custom-header">Contract Signed Date</th>
                        <th class="custom-header">Remarks</th>
                        <th class="custom-header">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let element of dataSource.data; let i = index">
                        <td>{{ ((paging.pageIndex - 1) * paging.pageSize) + i + 1 }}</td>
                        <td>{{ element.schoolName }}</td>
                        <td>{{ element.procurementTypeName }}</td>
                        <td>{{ element.groupName }}</td>
                        <td>{{ element.equpmentName }}</td>
                        <td>{{ element.qty }}</td>
                        <td>{{ element.ePrice }}</td>
                        <td>{{ element.fcLcName }}</td>
                        <td>{{ element.dgdpNssdName }}</td>
                        <td>{{ element.controlledName }}</td>
                        <td>{{ element.tecName }}</td>
                        <td>{{ element.sentToDgdpNssdDate | date: 'dd MMM, yyyy' }}</td>
                        <td>{{ element.tenderOpeningDateTypeName }}</td>
                        <td>{{ element.tenderOpeningDate | date: 'dd MMM, yyyy' }}</td>
                        <td>{{ element.offerReceivedDate | date: 'dd MMM, yyyy' }}</td>
                        <td>{{ element.sentForContractDate | date: 'dd MMM, yyyy' }}</td>                       
                        <td>{{ element.contractSignedDate | date: 'dd MMM, yyyy' }}</td>
                       
                        <td>{{ element.remarks }}</td>
                        <td class="cl-action">
                          <!-- <button class="btn-tbl-edit mb-2" 
                                [routerLink]="['/procurement-management/update-procurement', element.procurementId]">
                                <mat-icon aria-label="Delete" class="col-white">delete</mat-icon>
                        </button> -->
                          <button mat-icon-button color="accent" title="Edit" class="btn-tbl-edit"
                            [routerLink]="['/procurement-management/update-procurement', element.procurementId]">
                            <mat-icon aria-label="Edit" class="col-white">edit</mat-icon>
                          </button>
                          <button (click)="deleteItem(element)" mat-icon-button color="accent" class="btn-tbl-delete" >
                          <mat-icon aria-label="Delete" class="col-white">delete</mat-icon> 
                        </button>
                          
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div *ngIf="selectedProcurementTypeId === procurementMethodId1" style="overflow-x: auto; max-width: 100%;">
                  <table class="custom-table">
                    <thead>
                      <tr>
                        <th class="vertical-header custom-header">Ser.</th>
                        <th class="vertical-header custom-header">Ship Name</th>
                        <th class="vertical-header custom-header">Procurement Type</th>
                        <th class="vertical-header custom-header">Group Name</th>
                        <th class="vertical-header custom-header">Equipment Name</th>
                        <th class="vertical-header custom-header">Qty</th>
                        <th class="vertical-header custom-header">E-Price</th>
                        <th class="vertical-header custom-header">FC/LC</th>
                        <th class="vertical-header custom-header">DGDP/NSSD Name</th>
                        <th class="vertical-header custom-header">Controlled</th>
                        <th class="vertical-header custom-header">TEC</th>
                        <th class="vertical-header custom-header">Sent to DGDP/NSSD Date</th>
                        <th class="vertical-header custom-header">Tender Opening Date Type</th>
                        <th class="vertical-header custom-header">Tender Opening Date</th>
                        <th class="vertical-header custom-header">Offer Received Date</th>
                        <td class="vertical-header custom-header">Clarification to OEM Sent Date</td>
                        <td class="vertical-header custom-header">Clarification to OEM Received Date</td>
                        <td class="vertical-header custom-header">Clarification to User Sent Date</td>
                        <td class="vertical-header custom-header">Clarification to User Received Date</td>
                        <td class="vertical-header custom-header">Tech TEC Sent Date</td>
                        <td class="vertical-header custom-header">Tech TEC Received Date</td>
                        <td class="vertical-header custom-header">Min for FO Sent Date</td>
                        <td class="vertical-header custom-header">Min for FO Received Date</td>
                        <td class="vertical-header custom-header">Sent to DTS Date</td>
                        <td class="vertical-header custom-header">FO Received Date</td>
                        <td class="vertical-header custom-header">FO TEC Sent Date</td>
                        <td class="vertical-header custom-header">FO TEC Received Date</td>
                        <td class="vertical-header custom-header">Final Contract Min Sent Date</td>
                        <td class="vertical-header custom-header">Final Contract Min Received Date</td>
                        <th class="vertical-header custom-header">Sent for Contract Date</th>                        
                        <th class="vertical-header custom-header">Contract Signed Date</th>
                        <th class="vertical-header custom-header">Remarks</th>
                        <th class="vertical-header custom-header">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let element of dataSource.data; let i = index">
                        <td class="vertical-cell">{{ ((paging.pageIndex - 1) * paging.pageSize) + i + 1 }}</td>
                        <td class="vertical-cell">{{ element.schoolName }}</td>
                        <td class="vertical-cell">{{ element.procurementTypeName }}</td>
                        <td class="vertical-cell">{{ element.groupName }}</td>
                        <td class="vertical-cell">{{ element.equpmentName }}</td>
                        <td class="vertical-cell">{{ element.qty }}</td>
                        <td class="vertical-cell">{{ element.ePrice }}</td>
                        <td class="vertical-cell">{{ element.fcLcName }}</td>
                        <td class="vertical-cell">{{ element.dgdpNssdName }}</td>
                        <td class="vertical-cell">{{ element.controlledName }}</td>
                        <td class="vertical-cell">{{ element.tecName }}</td>
                        <td class="vertical-cell">{{ element.sentToDgdpNssdDate | date: 'dd MMM, yyyy' }}</td>
                        <td class="vertical-cell">{{ element.tenderOpeningDateTypeName }}</td>
                        <td class="vertical-cell">{{ element.tenderOpeningDate | date: 'dd MMM, yyyy' }}</td>
                        <td class="vertical-cell">{{ element.offerReceivedDate | date: 'dd MMM, yyyy' }}</td>
                        <td class="vertical-cell">{{ element.clarificationToOemSentDate | date: 'dd MMM, yyyy' }}</td>
                        <td class="vertical-cell">{{ element.clarificationToOemReceivedDate | date: 'dd MMM, yyyy' }}</td>
                        <td class="vertical-cell">{{ element.clarificationToUserSentDate | date: 'dd MMM, yyyy' }}</td>
                        <td class="vertical-cell">{{ element.clarificationToUserReceivedDate | date: 'dd MMM, yyyy' }}</td>
                        <td class="vertical-cell">{{ element.techTecSentDate | date: 'dd MMM, yyyy' }}</td>
                        <td class="vertical-cell">{{ element.techTecReceivedDate | date: 'dd MMM, yyyy' }}</td>
                        <td class="vertical-cell">{{ element.minForFoSentDate | date: 'dd MMM, yyyy' }}</td>
                        <td class="vertical-cell">{{ element.minForFoReceivedDate | date: 'dd MMM, yyyy' }}</td>
                        <td class="vertical-cell">{{ element.sentToDtsDate | date: 'dd MMM, yyyy' }}</td>
                        <td class="vertical-cell">{{ element.foReceivedDate | date: 'dd MMM, yyyy' }}</td>
                        <td class="vertical-cell">{{ element.foTecSentDate | date: 'dd MMM, yyyy' }}</td>
                        <td class="vertical-cell">{{ element.foTecReceivedDate | date: 'dd MMM, yyyy' }}</td>
                        <td class="vertical-cell">{{ element.finalContractMinSentDate | date: 'dd MMM, yyyy' }}</td>
                        <td class="vertical-cell">{{ element.finalContractMinReceivedDate | date: 'dd MMM, yyyy' }}</td>
                        <td class="vertical-cell">{{ element.sentForContractDate | date: 'dd MMM, yyyy' }}</td>                       
                        <td class="vertical-cell">{{ element.contractSignedDate | date: 'dd MMM, yyyy' }}</td>                       
                        <td class="vertical-cell">{{ element.remarks }}</td>
                        <td class="cl-action">
                          
                          <button mat-icon-button color="accent" title="Edit" class="btn-tbl-edit"
                            [routerLink]="['/procurement-management/update-procurement', element.procurementId]">
                            <mat-icon aria-label="Edit" class="col-white">edit</mat-icon>
                          </button>
                          <button (click)="deleteItem(element)" mat-icon-button color="accent" class="btn-tbl-delete" >
                          <mat-icon aria-label="Delete" class="col-white">delete</mat-icon> 
                        </button>
                          
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              




              </div>


              <mat-paginator [length]="paging.length" [showFirstLastButtons]="masterData.paging.showFirstLastButtons"
                [pageSize]="paging.pageSize" [pageSizeOptions]="masterData.paging.pageSizeOptions"
                (page)="pageChanged($event)">
              </mat-paginator>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</section>