.ships{
    background-color: #ff653e;
    color: #fff;
    height: 150px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.images{
    height: 60px;
    border: 1px solid #fff;
    padding: 15px;
    border-radius: 100%;
}
.boat-info{
    background-color: #01b976;
    color: #fff;
    padding: 10px;
    height: 150px;
    width: 200px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.eastablishment{
    background-color: #405ded;
    color: #fff;
    height: 150px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.rounded-design{
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    background-color: #fcfcfc34;   
    z-index: -1;
}
.rounded-design1{
    position: absolute;
    height: 70px;
    width: 70px;
    margin-top: 60px;
    border-radius: 100%;
    background-color: #fcfcfc34;  
    z-index: -1;
}
.info-card{
    padding: 10px;
}
.row{
    display: flex;
    justify-content: center;
}

.btnDetails{
    background-color: #405ded;
    height: 80px;
    width: 150px;
    justify-content: center;
    color: #fff;
    margin: 5px;
    display: flex;
    align-items: center;
    border-radius: 10%;
    cursor: pointer;
    z-index: 1;
}
