<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Quarterly return List</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main">
                  <i class="fas fa-home"></i> </a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Quarterly Return</a>
              </li>
              <li class="breadcrumb-item active">All</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="body">
              <div class="row mb-3">
                <div class="icon-button-demo col-12">
                        <button class="btn-success float-end rounded-pill px-4"  mat-raised-button
                       (click)="SharedService.goBack()"> Back
                          <mat-icon class="col-white">keyboard_backspace</mat-icon>
                        </button>
                      </div>
              </div>
              <div class="responsive_table">
                <div class="materialTableHeader">
                  <div class="row">
                    <div class="col-8">
                      <ul class="header-buttons-left ml-0">
                       <!-- <li><h5 class="count-value">No of Items: - {{ itemCount }}</h5></li> -->
                         
                      
                        <li class="dropdown">
                          <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Search</mat-label>
                            <input
                              matInput
                              type="text"
                              placeholder="Search Ship Name"
                              (input)="applyFilter($event.target.value)" />
                          </mat-form-field>
                        </li>
                        <li>
                          <div class="icon-button-demo m-l-10">                          
                            <!-- <button mat-mini-fab (click)="applyFilter(searchText)" color="accent">
                              <mat-icon class="col-white">search</mat-icon>
                            </button> -->
                          </div>
                        </li>
                        <li>
                          <!-- <h3> Monthly Return List</h3> -->
                        </li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <ul class="header-buttons">
                        
                        <li>
                          <div class="icon-button-demo">
                            <button [hidden]="isCommandingAreaUser" class="btn-space"  mat-raised-button
                            color="primary" routerLink="/ships-return/add-quarterlyreturn"> Add
                              <mat-icon class="col-white">add</mat-icon>
                            </button>
                            <button class="btn-space" mat-raised-button  color="primary" (click)="printSingle()">
                              <mat-icon class="col-white">print</mat-icon>
                            </button>
                          </div>                        
                        </li>
                       
                      </ul>
                    </div>
                   
                  </div>
                </div>
                 
                <div class="row">
        
                
                  <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="card">
                          <div class="body">
                            
                              <div class="responsive_table">
                                  <div class="materialTableHeader">
                                      <div class="row">
                                          <div class="col-8">
                                              <h3>Quarterly Return</h3>
                                          </div>
                                      </div>
                                  </div>
                                  <div id="print-routine">
                                      <table class="table tbl-by-group db-li-s-in">
                                          <thead>
                                              <tr>
                                                <th><h5>Ship Name</h5></th>
                                                <th><h5>Reporting Month</h5></th>
                                                <th><h5>Operational Status</h5></th>
                                                <th><h5>Reporting Year</h5></th>
                                             
                                              </tr>
                                          </thead>
                                          <tbody>
                                              <tr *ngFor="let number of this.dataSource.data;">
                                                <td>{{ number.schoolName || 'N/A' }}</td>
                                                <td>{{ number.reportingMonth || 'N/A' }}</td>
                                                <td>{{ number.operationalStatus || 'N/A' }}</td>
                                               <td>{{ number.year || 'N/A' }}</td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                 
              </div>
                <!-- <mat-paginator [length]="paging.length" [showFirstLastButtons]="masterData.paging.showFirstLastButtons"
                  [pageSize]="paging.pageSize" [pageSizeOptions]="masterData.paging.pageSizeOptions"
                  (page)="pageChanged($event)">
                </mat-paginator> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
  
  
   