.filter{
    position: relative;
   display: flex;
   width: 10em;
   height: 3em;
   line-height: 3;
   background: #f0f0f0;
   overflow: hidden;
   border-radius: .25em;
   margin-right: 15px;
   margin-right: 15px;
}