<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Monthly Return List</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main">
                  <i class="fas fa-home"></i> </a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Monthly Return</a>
              </li>
              <li class="breadcrumb-item active">All</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="body">
              
              <div class="responsive_table">
                <div class="materialTableHeader">
                  <div class="row">
                    <div class="col-8">
                      <ul class="header-buttons-left ml-0">
                        <li>
                          
                        </li>
                         
                      
                        <li class="dropdown">
                          <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Search</mat-label>
                            <input
                              matInput
                              type="text"
                              placeholder="Search..."
                              (input)="applyFilter($event.target.value)" />
                          </mat-form-field>
                        </li>
                        <li>
                          
                        </li>
                        <li>
                         
                        </li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <ul class="header-buttons">
                        <label>Filter by Retrun Type</label>
                         <li>
                          
                          <select class="filter" name="return-type" [(ngModel)]="selectedFilter">
                            <option value="" disabled>Choose Return Type</option>
                            <option value="damage" id="1" selected>Damage</option>
                            <option value="defective" id="2">Defective</option>
                          </select>
                        </li>
                        <li>
                          <div class="icon-button-demo">
                            <button class="btn-space"  mat-raised-button
                            color="primary" routerLink="/ships-return/add-monthly"> Add
                              <mat-icon class="col-white">add</mat-icon>
                            </button>
                            <button class="btn-space" mat-raised-button  color="primary" (click)="printSingle()">
                              <mat-icon class="col-white">print</mat-icon>
                            </button>
                          </div>                        
                        </li>
                       
                      </ul>
                    </div>
                   
                  </div>
                </div>
                <div id="print-routine">       
                  <table *ngIf="!selectedFilter" class="table tbl-by-group db-li-s-in">
                    
                    <thead>
                      <tr>
                        <th class="cl-mrk-rmrk"><h5>Ship Name</h5></th>
                        <th class="cl-mrk-rmrk"><h5>Equipment Name</h5></th>
                        <th class="cl-mrk"><h5>Return Type</h5></th>
                        <th class="cl-mrk"><h5>Reporting Month</h5></th>
                        <th class="cl-mrk-opl"><h5> OPL/NON-OPL</h5></th>
                        <th class="cl-action"><h5></h5></th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let number of this.dataSource.data;">
                          <td>{{ number.schoolName || 'N/A' }}</td>

                          <td>
                            {{number.equpmentName}}
                          </td>
                          <td [routerLink]="['/admin/dashboard/returnType-list']">
                            {{number.returnType}}
                          </td>
                          <td>
                            {{number.reportingMonth}}
                          </td>
                          <td>
                            {{number.operationalStatus}}
                          </td>
                          <td class="col table-img  img-on-hover">
                            <a target="_blank" [href]="number.uploadDocument">	<i matTooltip="File" class="far fa-file-pdf tbl-pdf"></i>	</a>
                            <!-- <img class="img-size"  [src]="this.fileUrl+number.uploadDocument" />
                            <div class="pop-on-hover">
                              <img [src]="this.fileUrl+number.uploadDocument" />
                            </div>
                            
                            <button mat-icon-button class="btn-tbl-view" title="View Course Details" [routerLink]="['/admin/dashboard/view-shipinformationdetails',number.shipInformationId,2]">
                              <mat-icon aria-label="Edit" class="col-white">visibility</mat-icon>
                            </button> -->
                            <button mat-icon-button color="accent" class="btn-tbl-edit" 
                            [routerLink]="['/ships-return/update-monthly', number.monthlyReturnId]">
                              <mat-icon aria-label="Edit" class="col-white">edit</mat-icon>
                            </button>
                            <button mat-icon-button color="accent" class="btn-tbl-delete" (click)="$event.stopPropagation()"
                            (click)="deleteItem(number)">
                            <mat-icon aria-label="Delete" class="col-white">delete</mat-icon> 
                          </button>
                          </td>
                        </tr>
                    </tbody>
                  </table>
                </div> 
                <div class="row">
        
                  <!-- Damage Return List Table -->
                  <div *ngIf="selectedFilter === 'damage'" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="card">
                          <div class="body">
                              <div class="responsive_table">
                                  <div class="materialTableHeader">
                                      <div class="row">
                                        
                                          <div class="col-8">
                                              <h3>Damage Return List</h3>
                                          </div>
                                          
                                      </div>
                                  </div>
                                  <div id="print-routine">
                                    
                                      <table class="table tbl-by-group db-li-s-in">
                                          <thead>
                                              <tr>
                                                <th><h5>Ship Name</h5></th>
                                                  <th><h5>Equipement Name</h5></th>
                                                  <th><h5>Defect Time</h5></th>
                                                  <th><h5>Defect Description</h5></th>
                                                  <th><h5>Present Status</h5></th>
                                                  
                                              </tr>
                                          </thead>
                                          <tbody>
                                              <tr *ngFor="let number of damageReturns">
                                                  <td>{{ number.schoolName }}</td>
                                                  <td>{{ number.equpmentName }}</td>
                                                  <td>{{ number.timeOfDefect | date: 'MM/dd/yyyy' }}</td>
                                                  <td>{{ number.damageDescription }}</td>
                                                  <td>{{ number.operationalStatus }}</td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
        
                  <!-- Defect Return List Table -->
                  <div *ngIf="selectedFilter === 'defective'" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="card">
                          <div class="body">
                              <div class="responsive_table">
                                  <div class="materialTableHeader">
                                      <div class="row">
                                          <div class="col-8">
                                              <h3>Defect Return List</h3>
                                          </div>
                                      </div>
                                  </div>
                                  <div id="print-routine">
                                      <table class="table tbl-by-group db-li-s-in">
                                          <thead>
                                              <tr>
                                                <th><h5>Ship Name</h5></th>
                                                <th><h5>Equipement Name</h5></th>
                                                <th><h5>Defect Time</h5></th>
                                                <th><h5>Defect Description</h5></th>
                                                <th><h5>Present Status</h5></th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                              <tr *ngFor="let number of defectReturns">
                                                <td>{{ number.schoolName }}</td>
                                                <td>{{ number.equpmentName }}</td>
                                                <td>{{ number.timeOfDefect | date: 'MM/dd/yyyy' }}</td>
                                                <td>{{ number.damageDescription }}</td>
                                                <td>{{ number.operationalStatus }}</td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- <div *ngIf="selectedFilter === 'defective'" class="icon-button-demo">
                    <button class="btn-space"  mat-raised-button
                    color="primary" routerLink="/admin/dashboard/main"> Back
                      <mat-icon class="col-white">keyboard_backspace</mat-icon>
                    </button>
                  </div> -->
              </div>
                <mat-paginator [length]="paging.length" [showFirstLastButtons]="masterData.paging.showFirstLastButtons"
                  [pageSize]="paging.pageSize" [pageSizeOptions]="masterData.paging.pageSizeOptions"
                  (page)="pageChanged($event)">
                </mat-paginator>
              </div>
              <!-- <div  class="icon-button-demo">
                <button class="btn-space"  mat-raised-button
                color="primary" (click)="SharedService.goBack()"> Back
                  <mat-icon class="col-white">keyboard_backspace</mat-icon>
                </button>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
  
  
   